In [5]:
# Initial imports
import os
import requests
import json
import pandas as pd
from datetime import date
from dotenv import load_dotenv
from pathlib import Path
import numpy as np
import hvplot.pandas
import matplotlib.pyplot as plt
%matplotlib inline

APPLE

In [6]:
stock_ticker = 'AAPL'
#Set path and read AAPL daily trading df.
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v3/get-historical-data"

querystring = {"symbol": stock_ticker}

headers = {
    'x-rapidapi-key': "77d0205b84msh9c6889994f5a11fp19855ajsn70b316cd05d3",
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
}

r = requests.get(url, headers=headers, params=querystring)
x = r.json()

#Convert to DataFrame
aapl_close_df = pd.read_json(json.dumps(x['prices']))
aapl_close_df['date'] = pd.to_datetime(aapl_close_df['date']).dt.date
aapl_close_df.sort_values(by=['date'], inplace=True, ascending=True)
aapl_close_df = aapl_close_df.loc[:, ['close', 'date']]
aapl_close_df

          close        date
256   67.092499  2020-04-21
255   69.025002  2020-04-22
254   68.757500  2020-04-23
253   70.742500  2020-04-24
252   70.792503  2020-04-27
..          ...         ...
4    132.029999  2021-04-14
3    134.500000  2021-04-15
2    134.160004  2021-04-16
1    134.839996  2021-04-19
0    133.110001  2021-04-20

[257 rows x 2 columns]

In [7]:
# Get today's date and convert to format the api can accept
today = date.today()
end_date = today.strftime('%Y-%m-%d')
date_range = pd.date_range(end = today , periods = 365)
start_date = date_range[0].strftime('%Y-%m-%d')

#API Call
headers = {
    'accept': 'application/json',
    'Authorization': 'Token 168ac68d07d82b3c04e4fcc9fb1db90bdcf380c5',
}

id = '/?to_date=' + end_date + '&from_date=' + start_date
r = requests.get('https://socialsentiment.io/api/v1/stocks/AAPL/sentiment/daily' + id, headers = headers)
x = r.json()

# Convert to DataFrame

aapl_activity_df = pd.read_json(json.dumps(x))
aapl_activity_df = aapl_activity_df.drop(columns = ['stock', 'positive_score', 'negative_score', 'avg_7_days', 'avg_14_days', 'avg_30_days'])
    
# Add closing prices to social_sentiment_df
aapl_activity_df['date'] = pd.to_datetime(aapl_activity_df['date'])
aapl_df = aapl_activity_df.set_index('date').join(aapl_close_df.set_index('date'))
aapl_df = aapl_df.dropna()
aapl_df

            score  activity       close
date
2020-04-21     14      3714   67.092499
2020-04-22     -2      3399   69.025002
2020-04-23    -38      4541   68.757500
2020-04-24     14      5469   70.742500
2020-04-30     20       507   73.449997
...           ...       ...         ...
2021-04-14     62      8025  132.029999
2021-04-15    -29      8544  134.500000
2021-04-16     10       774  134.160004
2021-04-19    -36     40301  134.839996
2021-04-20     65     37779  133.110001

[249 rows x 3 columns]

We score social media posts from -100 to 100 based on our prediction of their sentiment and network visibility. Activity is the total of all likes and shares for relevant network posts.

In [9]:
# Add closing prices to social_sentiment_df
aapl_activity_df['date'] = pd.to_datetime(aapl_activity_df['date'])
aapl_df = aapl_activity_df.set_index('date').join(aapl_close_df.set_index('date'))
aapl_df = aapl_df.dropna()

aapl_df

            score  activity       close
date
2020-04-21     14      3714   67.092499
2020-04-22     -2      3399   69.025002
2020-04-23    -38      4541   68.757500
2020-04-24     14      5469   70.742500
2020-04-30     20       507   73.449997
...           ...       ...         ...
2021-04-14     62      8025  132.029999
2021-04-15    -29      8544  134.500000
2021-04-16     10       774  134.160004
2021-04-19    -36     40301  134.839996
2021-04-20     65     37779  133.110001

[249 rows x 3 columns]

In [ ]:
aapl_df = pd.concat([aapl_close, aapl_activity_df],axis=1).dropna()

# Display sample data
aapl_df.head(-5)

In [ ]:
# Assign a Buy if score is <-50 and a Sell if score is >50
indicator = []

for value in aapl_df["score"]:
    if value > 50:
        indicator.append("Buy")
    elif value < -50:
        indicator.append("Sell")
    else:
        indicator.append("Hold")

aapl_df["Trade Type"] = indicator 

# Create a column to hold the trading signal
aapl_df["Entry/Exit"] = 0.0

# Generate the trading signal 0 or 1,
# where buy represents 1 is when social media sentiment is greater than -50
# and 0 is when the condition is not met
aapl_df["Entry/Exit"] = aapl_df["Trade Type"].map({'Buy': 1, 'Sell': -1, 'Hold': 0})
aapl_df.head()

In [ ]:
aapl_df['Trade Type'].value_counts()

In [ ]:
# Visualize entry positions relative to close price
entry = aapl_df[aapl_df['Trade Type'] == 'Buy']['Close'].hvplot.scatter(
    color='purple',
    marker='^',
    legend=False,
    ylabel='Price in $',
    width=1000,
    height=400)

# Visualize exit positions relative to close price
exit = aapl_df[aapl_df['Trade Type'] == 'Sell']['Close'].hvplot.scatter(
    color='orange',
    marker='v',
    legend=False,
    ylabel='Price in $',
    width=1000,
    height=400)

# Visualize Close price for the investment
aapl_close = aapl_df[['Close']].hvplot(
    line_color='lightgray',
    ylabel='Price in $',
    width=1000,
    height=400)

# Overlay all 3 plots in a single visualization
entry_exit_plot = aapl_close * entry * exit
entry_exit_plot.opts(
    title="AAPL - Social Media Sentiment Trading Algorithm"
)

In [ ]:
# Set the initial capital
initial_capital = float(100000)

# Set the share size
share_size = aapl_df["score"]

# Take shares in amount of score for position where the dual moving average crossover is 1 (SMA7 is greater than SMA30)
aapl_df["Shares"] = abs(share_size) * aapl_df["Entry/Exit"]

# Find the points in time where shares are bought or sold
# aapl_df["Entry/Exit Position"] = aapl_df["Position"].diff()

# Multiply share price by entry/exit positions and get the cumulatively sum
aapl_df["Portfolio Holdings"] = (
    aapl_df["Close"] * aapl_df["Shares"].cumsum()
)

# Subtract the initial capital by the portfolio holdings to get the amount of liquid cash in the portfolio
aapl_df["Portfolio Cash"] = (
    initial_capital - (aapl_df["Close"] * aapl_df["Shares"]).cumsum()
)

# Get the total portfolio value by adding the cash amount by the portfolio holdings (or investments)
aapl_df["Portfolio Total"] = (
    aapl_df["Portfolio Cash"] + aapl_df["Portfolio Holdings"]
)

# Calculate the portfolio daily returns
aapl_df["Portfolio Daily Returns"] = aapl_df["Portfolio Total"].pct_change()

# Calculate the cumulative returns
aapl_df["Portfolio Cumulative Returns"] = (
    1 + aapl_df["Portfolio Daily Returns"]
).cumprod() - 1

# Print the DataFrame
aapl_df.head(20)

In [ ]:
# Create the list of the metric names
metrics = [
    'Annualized Return',
    'Cumulative Returns',
    'Annual Volatility',
    'Sharpe Ratio',
]

# Create a list that holds the column name
columns = ['Backtest']

# Initialize the DataFrame with index set to evaluation metrics and columns 
portfolio_evaluation_df = pd.DataFrame(index=metrics, columns=columns)

# Calculate the Annualized return metric
portfolio_evaluation_df.loc['Annualized Return'] = (
    aapl_df['Portfolio Daily Returns'].mean() * 252
)

# Calculate the Cumulative returns metric
portfolio_evaluation_df.loc['Cumulative Returns'] = aapl_df['Portfolio Cumulative Returns'][-1]

# Calculate the Annual volatility metric
portfolio_evaluation_df.loc['Annual Volatility'] = (
    aapl_df['Portfolio Daily Returns'].std() * np.sqrt(252)
)

# Calculate the Sharpe ratio
portfolio_evaluation_df.loc['Sharpe Ratio'] = (
    aapl_df['Portfolio Daily Returns'].mean() * 252) / (
    aapl_df['Portfolio Daily Returns'].std() * np.sqrt(252)
)

# Review the portfolio evaluation DataFrame
portfolio_evaluation_df

In [ ]:
# Imports 
from pandas.tseries.offsets import DateOffset

In [ ]:
# Assign a copy of the sma_fast and sma_slow columns to a new DataFrame called X
X = aapl_df[['score', 'activity']].copy()

# Display sample data
display(X.head())
display(X.tail())

In [ ]:
# Select the start of the training period
training_begin = X.index.min()

# Display the training begin date
print(training_begin)

In [ ]:
y = aapl_df['Entry/Exit']

In [ ]:
# Select the ending period for the training data with an offset of 3 months
training_end = X.index.min() + DateOffset(days=5)

# Display the training end date
print(training_end)

In [ ]:
# Generate the X_train and y_train DataFrames
X_train = X.loc[training_begin:training_end]
y_train = y.loc[training_begin:training_end]

# Display sample data
X_train.head()

In [ ]:
# Generate the X_test and y_test DataFrames
X_test = X.loc[training_end:]
y_test = y.loc[training_end:]

# Display sample data
X_test.head()

In [ ]:
# Imports
from sklearn.preprocessing import StandardScaler

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()
 
# Apply the scaler model to fit the X-train data
X_scaler = scaler.fit(X_train)
 
# Transform the X_train and X_test DataFrames using the X_scaler
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

----
## Add a New Machine Learning Model

In [ ]:
# Import LogisticRegression from sklearn
from sklearn.linear_model import LogisticRegression

In [ ]:
# Create an instance of the LogisticRegression model
logistic_regression_model = LogisticRegression()

In [ ]:
# Fit the LogisticRegression model
logistic_regression_model.fit(X_train_scaled, y_train)

---

### Backtesting a Machine Learning Trading Algorithm

In [ ]:
# Use the trained model to predict the trading signals for the testing data.
testing_signal_predictions = svm_model.predict(X_test_scaled)

In [ ]:
# Evaluate the model's ability to predict the trading signal for the testing data
svm_testing_report = classification_report(y_test, testing_signal_predictions)
print(svm_testing_report)

In [ ]:
# Create a new empty predictions DataFrame using code provided below.
predictions_df = pd.DataFrame(index=X_test.index)
predictions_df["predicted_signal"] = testing_signal_predictions
predictions_df["actual_returns"] = trading_df["actual_returns"]
predictions_df["trading_algorithm_returns"] = predictions_df["actual_returns"] * predictions_df["predicted_signal"]
predictions_df.head()