In [12]:
# Initial imports
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
from pathlib import Path
import numpy as np
%matplotlib inline

In [17]:
#Set path and read AAPL daily trading df.

aapl_csvpath = Path("./Resources/AAPL.csv")
aapl_df = pd.read_csv(aapl_csvpath)
aapl_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-04-02,41.660000,42.235001,41.117500,41.669998,40.203072,150347200
1,2018-04-03,41.910000,42.187500,41.220001,42.097500,40.615520,121112000
2,2018-04-04,41.220001,43.002499,41.192501,42.902500,41.392178,138422000
3,2018-04-05,43.145000,43.557499,43.020000,43.200001,41.679203,107732800
4,2018-04-06,42.742500,43.119999,42.049999,42.095001,40.613106,140021200

In [18]:
#Set path and read BAC daily trading df.

bac_csvpath = Path("./Resources/BAC.csv")
bac_df = pd.read_csv(bac_csvpath)
bac_df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2018-04-02  29.799999  30.059999  28.750000  29.309999  27.372540  86644200
1  2018-04-03  29.540001  29.650000  29.100000  29.590000  27.634033  69698700
2  2018-04-04  29.000000  29.969999  28.950001  29.879999  27.904861  66640800
3  2018-04-05  30.180000  30.549999  30.120001  30.320000  28.315777  55765500
4  2018-04-06  30.010000  30.290001  29.370001  29.629999  27.671385  79687600

In [19]:
#Set path and read GE daily trading df.

ge_csvpath = Path("./Resources/GE.csv")
ge_df = pd.read_csv(ge_csvpath)
ge_df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2018-04-02  12.932692  13.019231  12.461538  12.615385  12.248620  74970480
1  2018-04-03  12.615385  12.634615  12.307692  12.625000  12.257956  62176504
2  2018-04-04  12.326923  12.788462  12.298077  12.769231  12.397993  59459296
3  2018-04-05  12.778846  13.038462  12.663462  12.913462  12.538031  55667248
4  2018-04-06  12.807692  12.951923  12.432692  12.557692  12.192603  66004536

In [16]:
combined_df = pd.concat([aapl_dataframe, bac_dataframe, ge_dataframe])

In [21]:
# A Simple Trading Algorithm

# Initialize `side` column for buys and sells
aapl_df['side'] = np.nan

# Initialize variable to hold previous price
previous_price = 0

# Loop through the Pandas DataFrame and initiate a... 
# buy if the previous price is 0, in other words, buy on the first day
# buy if the current day price is less than the previous day price, and
# sell if the current day price is greater than the previous day price, and
# hold if the current day price is equal to the previous day price
for index, row in aapl_df.iterrows():
    if previous_price == 0:
        aapl_df.loc[index, "side"] = "buy"
    elif row["Close"] < previous_price:
        aapl_df.loc[index, "side"] = "buy"
    elif row["Close"] > previous_price:
        aapl_df.loc[index, "side"] = "sell"
    else:
        aapl_df.loc[index, "side"] = "hold"

    previous_price = row["Close"]

    if index == aapl_df.index[-1]:
        aapl_df.loc[index, "side"] = "sell"

# Print the DataFrame
aapl_df

,Date,Open,High,Low,Close,Adj Close,Volume,side
0,2018-04-02,41.660000,42.235001,41.117500,41.669998,40.203072,150347200,buy
1,2018-04-03,41.910000,42.187500,41.220001,42.097500,40.615520,121112000,sell
2,2018-04-04,41.220001,43.002499,41.192501,42.902500,41.392178,138422000,sell
3,2018-04-05,43.145000,43.557499,43.020000,43.200001,41.679203,107732800,sell
4,2018-04-06,42.742500,43.119999,42.049999,42.095001,40.613106,140021200,buy
...,...,...,...,...,...,...,...,...
750,2021-03-24,122.820000,122.900002,120.070000,120.089996,120.089996,88530500,buy
751,2021-03-25,119.540001,121.660004,119.000000,120.589996,120.589996,98844700,sell
752,2021-03-26,120.349998,121.480003,118.919998,121.209999,121.209999,93958900,sell
753,2021-03-29,121.650002,122.580002,120.730003,121.389999,121.389999,80819200,sell
754,2021-03-30,120.110001,120.400002,118.860001,119.900002,119.900002,85671900,sell